#!/bin/bash
function uploadlogs() {
  if [ -z "$1" ] ; then
    echo log type not specified!
    exit 1
  fi
  if [ -z "$2" ] ; then
    echo instance-id not specified!
    exit 1
  fi
  tsnow=$(date +%s)
  datenow=$(date +%Y-%m-%d)
  searchstr=/var/log/$1/rotated/*
  for filename in $searchstr; do
     if [ $filename == "$searchstr" ] ; then
         break
     fi
     ext="${filename##*.}";
     if [ $ext != "gz" ] ; then
      continue
     fi
     substr0="${filename%.*}";
     substr1="${substr0##*.}";
     echo $substr1
     rotTs="${substr1##*[a-z]}";
     rotDiff=$(($tsnow - $rotTs))
     echo age: $rotDiff
     if [ $rotDiff -gt 1800 ] ; then
         shortname=$( echo $filename | cut -d '/' -f 6)
         echo Uploading to S3: $shortname
         ures=$(s3cmd put $filename s3://<%= node['custom_log_bucket'] %>/apilogs/$2/$1/$datenow/$shortname 2>&1 | grep ERROR | wc -l )
         if [ $ures -eq 0 ] ; then
           mv $filename /var/log/$1/uploaded/$shortname
         else
           echo upload of $filename failed!
         fi
     else
         echo Resource to new for upload: $filename
     fi
  done
}
#instId=$(ec2-metadata -i | cut -d ' ' -f 2)
instId=$(curl http://169.254.169.254/latest/meta-data/instance-id)
echo Instance-id is: $instId
uploadlogs tomcat7 $instId
uploadlogs httpd $instId