#!/bin/bash
tsfolder=/tmp/tomcat7status
tsfile=restarts
function countRestarts(){
  tsnow=$(date +%s)
  tsthres=$(($tsnow - 3600 ))
  file=$tsfolder/$tsfile
  if [ ! -f "$file" ]; then
    echo 0;
    return
  fi
  restarts=0
  while read line; do
    if [ $line -ge $tsthres ]; then
      restarts=$(($restarts + 1))
    fi
  done < "$file"

  echo $restarts;
}
# Instances on subnet1 are shutdown immediately, on subnet2, with a 3 min delay
# this is a precaution limiting the time that both nets are down at the same time
function killInstance(){
  opsworkspids=$(ps -u aws | grep opsworks-agent | cut -f 2 -d ' ')
  rm $tsfolder/$tsfile
  chmod -x /usr/bin/tomcatlive.sh
  for pid in $opsworkspids; do
    echo killing pid: $pid
    kill -9 $pid
  done
  <% if Integer( node['hostname'][8, node['hostname'].length] ) % 2 == 1 %>
  shutdown now
  <% else %>
  echo shutting down in 3 minutes, restarting tomcat for now
  service tomcat7 start
  shutdown +3
  <% end -%>
}
pscount=$(ps -u tomcat | wc -l)
tsnow=$(date +%s)
#echo tomcat ps count: $pscount
# TODO: include health check for: wget -q0- http://localhost/userapi/Health > test.html == OK
if [ $pscount -ge 2 ]; then
  echo $tsnow: Tomcat is alive!
else
  echo $tsnow: Tomcat is dead!
  if [ ! -d "$tsfolder" ]; then
    mkdir $tsfolder
  fi
  rstarts=$(countRestarts)
  echo recent restarts $rstarts
  if [ "$rstarts" -ge 3 ]; then
    echo $tsnow: Too many recent restarts. Killing this instance!
    killInstance
  else
    echo $tsnow: Starting tomcat7!
    service tomcat7 start
    echo $tsnow >> "$tsfolder/$tsfile"
  fi
fi
